#wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#wrap > * {
  flex: 0 1 380px;
}

#wrap .participant {
  min-height: 380px;
  margin-right: 20px;
  transition: 300ms;
}

#wrap .participant .video_wrap {
  background-color: #000;
  width: 100%;
  height: 100%;
}

#wrap .participant .video_wrap video {
  width: 100%;
  height: 100%;
}

#actions {
  padding: 20px;
}

#actions button {
  margin-right: 20px;
}